@model MusicApp.Models.Album

@{ 
    ViewData["Title"] = "Create";
}
<br />
<br />
<form asp-action="Create" method="post">
    <div class="form-group">
        <div>
            Title: <input asp-for="Title" /><br />
            <span asp-validation-for="Title" class="text-danger"></span><br />
        </div>
        <div>
            Artist: <select asp-for="ArtistID" asp-items="ViewBag.Artist">
                <option selected>Select Artist</option>
            </select> or new artist: <input type="text" name="ArtistString" /><br />
            <span asp-validation-for="ArtistID" class="text-danger"></span><br />
        </div>
        <div>
            Genre: <select asp-for="GenreID" asp-items="ViewBag.Genre">
                <option selected>Select Genre</option>
            </select> or new genre: <input type="text" name="GenreString" /><br />
            <span asp-validation-for="GenreID" class="text-danger"></span><br />
        </div>
        <div>
            Price: <input asp-for="Price" /><br />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" value="Submit" />
    </div>
    <div class="form-group">
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
</form>