@model MusicApp.Models.Album

@{ 
    ViewBag["Title"] = "Create";
}
<br />
<br />

<form asp-action="Create" method="post">
    <input asp-for="Title" type="text" value="" />
    <select asp-for="ArtistID" asp-items="ViewBag.Artists" value="" />
    <select asp-for="GenreID" asp-items="ViewBag.Genres" value="" />
    <input asp-for="Price" type="text" value="" />
    <input type="submit" value="Submit" />
</form>
