@model MusicApp.Models.Album

@{
    ViewData["Title"] = "Edit";
}
<h3>Edit Album</h3>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="AlbumID" />
        Title: <input asp-for="Title" value="@Model.Title" /><br />
        <span asp-validation-for="Title" class="text-danger"></span><br />
        Artist: <select asp-for="ArtistID" asp-items="ViewBag.Artist"></select><br />
        Genre: <select asp-for="GenreID" asp-items="ViewBag.Genre"></select><br />
        Price: <input asp-for="Price" value="@Model.Price" /><br />
        <span asp-validation-for="Price" class="text-danger"></span>
        <br />
        <br />
        <input type="submit" value="Submit" />
    </div>
    <div class="form-group">
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
</form>