@model MusicApp.Models.Genre

@{ 
    ViewBag.Title = "Create";
}
<br />
<br />
<form asp-action="Create" method="post">
    <div class="form-group">
        <label class="col-md-1">Genre:</label><input asp-for="Name" type="text" /><br />
        <br />
        <button type="submit">Submit</button><br />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</form>