@model MusicApp.Models.Genre
@{
    ViewData["Title"] = "Details";
}
<h3>Albums in @Model.Name</h3>
<input type="hidden" asp-for="GenreID" />
<table class="table">
    @foreach (var album in ViewBag.Albums)
    {
        <div>@album.Title</div>
    }
    <br />
    <div>
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
</table>
