@model IEnumerable<MusicApp.Models.Genre>
@{
    ViewData["Title"] = "Genres";
}
<h3>Genres</h3>
<a class="btn btn-default" asp-action="Create">Add Genre</a>
<table class="table">
    <thead>
        <tr>
            <th>Genres</th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
        <tr>
            <td><a asp-action="Details" asp-route-id="@genre.GenreID">@genre.Name</a></td>
        </tr>
    }
</table>