@{
    ViewData["Title"] = "Home Page";
}
<h3>MusicApp</h3>
<div>
    <a class="btn btn-default" asp-controller="Albums" asp-action="Index">Albums</a>
    <a class="btn btn-default" asp-controller="Artists" asp-action="Index">Artists</a>
    <a class="btn btn-default" asp-controller="Genres" asp-action="Index">Genres</a>
    <a class="btn btn-default" asp-controller="Playlists" asp-action="Index">Playlists</a>
    <a class="btn btn-default" asp-controller="Events" asp-action="Index">Events</a>
</div>