@{
    ViewData["Title"] = "Home Page";
}
<h2>MusicApp</h2>
<div>
    <a class="btn btn-default" asp-controller="Albums" asp-action="Index">Albums</a>
    <a class="btn btn-default" asp-controller="Artists" asp-action="Index">Artists</a>
    <a class="btn btn-default" asp-controller="Genres" asp-action="Index">Genres</a>
</div>