@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<address>
    Stockton University<br />
    Author: Alex Neer<br />
</address>