@model MusicApp.Models.Event
@{ 
    ViewData["Title"] = "Events";
}

<style>
    time.icon
    {
    font-size: 1em;  /*change icon size*/
    display: block;
    position: relative;
    width: 8em;
    height: 8em;
    background-color: #bdbdbd;
    /*margin: 2em auto;*/
    border-radius: 0.6em;
    overflow: hidden;
    }

    time.icon *
    {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    }

    time.icon strong
    {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #0094ff;
    border-bottom: 3px solid #0026ff;
    /*box-shadow: 0 2px 0 #fd9f1b;*/
    }

    time.icon em
    {
    position: absolute;
    bottom: 0.4em;
    color: #fff;
    }

    time.icon span
    {
    width: 100%;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
    color: #000000;
    }

    table
    {
        border: hidden;
    }
</style>

<h2>All Upcoming Events</h2>

<table class="table-condensed">
    <tr>
        <td>
            <time datetime="2017-01-06" class="icon">
                <em>Friday</em>
                <strong>January</strong>
                <span>6</span>
            </time>
        </td>
        <td>
            <text>NYC</text><br />
            <text>Rock</text><br />
            <a href="#" class="btn btn-success">Attending</a>
        </td>
    </tr>
    <tr>
        <td>
            <time datetime="2017-2-16" class="icon">
                <em>Thursday</em>
                <strong>February</strong>
                <span>16</span>
            </time>
        </td>
    </tr>
    <tr>
        <td>
            <time datetime="2017-6-27" class="icon">
                <em>Tuesday</em>
                <strong>June</strong>
                <span>27</span>
            </time>
        </td>
    </tr>
</table>