@model MusicApp.Models.Artist
@{
    ViewData["Title"] = "Details";
}
<h2>Artist Details</h2>

<br />
<br />
    <div>
        <input type="hidden" asp-for="ArtistID" />
        Artist: <input asp-for="Name" value="@Model.Name" /><br />
        <span asp-validation-for="Name" class="text-danger"></span><br />
        Bio: <input asp-for="Bio" value="@Model.Bio" />
        <br />
        <br />
    </div>
    <div>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.ArtistID">Edit</a>
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
