@model MusicApp.Models.Artist
@{
    ViewData["Title"] = "Details";
}
<h2>Artist Details</h2>

<div class="row">
    <label class="col-md-2">Artist: </label>
    <div class="col-md-10">@Model.Name</div>
</div>
<div class="row">
    <label class="col-md-2">Bio: </label>
    <div class="col-md-10">@Model.Bio</div>
</div>
<table class="table">
    <tr>
        <th>Albums</th>
    </tr>
</table>
<a class="btn btn-default" asp-action="Index">Back to List</a>