@model MusicApp.Models.Artist
@{
    ViewData["Title"] = "Details";
}
<h2>Artist Details</h2>

<br />
<br />
    <div>
        Artist:  @Model.Name<br />
        Bio:  @Model.Bio<br />
        <br />
        <br />
    </div>
    <div>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.ArtistID">Edit</a>
        <a class="btn btn-default" asp-action="Index">Back to List</a>
    </div>
