@model MusicApp.Models.PlaylistExtension
@{
    ViewData["Title"] = "Delete";
}

<h3>Delete Playlist @Model.playlist.List?</h3>
<form asp-action="Delete" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="PlaylistID" value="@Model.PlaylistID" />
        <button class="btn btn-warning btn-small" type="submit">Delete</button>
        <a class="btn btn-default" asp-action="Index">Cancel</a>
    </div>
</form>
