@model MusicApp.Models.Playlist
@{
    ViewData["Title"] = "Details";
}
<h3>@Model.Name</h3>
<table class="table">
    @foreach (var playlist in ViewBag.PlaylistExtensions)
    {
        <tr>
            <td>@playlist.album.Title</td>
        </tr>
    }
</table>

<div>
    <a class="btn btn-default" asp-controller="Albums" asp-action="Index">Add more albums</a>
    <a class="btn btn-default" asp-action="Index">Back to Playlist</a>
</div>