@model MusicApp.Models.Playlist
@{
    ViewData["Title"] = "Details";
}
<input type="hidden" asp-for="PlaylistID" />
<input type="hidden" asp-for="List" />
<table class="table">
    <thead>
        <tr>
            <th><h3>@Model.Name</th>
        </tr>
    </thead>
    @foreach (var album in ViewBag.Playlist)
    {
        <ol>@Model.List</ol>
    }
</table>
<div>
    <a class="btn btn-default" asp-controller="Albums" asp-action="Index">Add more albums</a>
    <a class="btn btn-default" asp-action="Index">Back to Playlist</a>
</div>