@model MusicApp.Models.Playlist
@{
    ViewData["Title"] = "Details";
}
<h3>@Model.Name</h3>
<input type="hidden" asp-for="PlaylistID" />
<table class="table">
    @foreach (var album in ViewBag.Playlists)
    {
        <ol>@album.Title</ol>
    }
    <br />
    <div>
        <a class="btn btn-default" asp-action="@Models.Albums.Index">Add more albums</a>
        <a class="btn btn-default" asp-action="Index">Back to Playlist</a>
    </div>
</table>