@model MusicApp.Models.Login

@{
    ViewData["Title"] = "Login";
}
<h3>@ViewData["Title"]</h3>
<form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
       <label class="col-md-2">Username</label><input asp-for="Username" class="col-md-10"/><br />
       <span asp-validation-for="Username"class="text-danger"></span><br />
    </div>
    <div class="form-group">
        <label class="col-md-2">Password</label><input asp-for="Password" class="col-md-10"/><br />
        <span asp-validation-for="Password" class="text-danger"></span><br />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" asp-controller="Home" asp-action="Index">Login</button>
    </div>
    <a href="Register">Register for an account</a>
</form>